
    <div class="card" style="width: 18rem;">
        <img src="{{image_url}}" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text">{{this.description}}</p>
        </div>
    </div>
