<div class="dataref-container">
    <div class="container">
        <img src="/images/beer.png" alt="">
        <button type="button" class="btn btn-primary buttons" onclick="location.href='/beers'">CHECK THE BEERS</button>
        <button type="button" class="btn btn-primary buttons" onclick="location.href='/randomBeer'">CHECK A RANDOM BEERS</button>
    </div>
    
</div>